.label {
  display: flex;
  flex-direction: column;
}

.title {
  text-transform: lowercase;
  font-size: 0.8em;

  &::first-letter {
    text-transform: uppercase;
  }
}

.input {
  background-color: transparent;
  border: none;
  border-bottom: .1em solid #ffffff;
  color: #ffffff;
}