@use '~scss-reset/reset';
@use './styles/fonts.scss';

body {
  margin: 0;
  font-family: Oswald, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  

  input[type=submit] {
    color: var(--colorTextPrimary);
  }
}

code {
  font-family: Oswald, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
